{
  "plugins": ["@oursky"],
  "parserOptions": {
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "extends": [
    "plugin:@oursky/eslint",
    "plugin:@oursky/oursky",
    "plugin:@oursky/typescript",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ]
}
