node_modules
npm-debug.log
*.pem
!mock-cert.pem
.env
coverage
lib
.vscode/
.idea/
tsconfig.tsbuildinfo
/.blackbox/pubring.gpg~
/.blackbox/pubring.kbx~
/.blackbox/secring.gpg
/deploy/helm/pandawork.values.yaml
